/* bootstrap custom style */
.nav-link.active {
    background-color: #a3b0c4 !important;
    position: relative;
    font-weight: bold;
}

.nav-link.active::after {
    content: "";
    width: 30%;
    height: 3px;
    background-color: #212529;
    border-radius: 5px;
    position: absolute;
    bottom: 6px;
    right: 35%;
}

.carousel-inner.custom {
    height: 37rem;
}

.carousel-indicators.custom {
    bottom: 5rem;
}

.carousel-item.custom,
.carousel-control-next.custom,
.carousel-control-prev.custom {
    height: 32rem;
}

.carousel-item>.background {
    width: 100%;
    min-height: calc(100% + 5rem);
}

.card.group {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    transition: all .5s ease;
}

.card.group:hover {
    transform: scale(1.05);
}

.card.group .card-thumbnail {
    position: relative;
    width: 4rem;
}

.card-thumbnail img,
.card-thumbnail svg {
    max-width: 100%;
}

.card.group .card-content {
    text-align: start;
    margin-left: 1rem;
    width: -webkit-fill-available;
}

.section.head {
    overflow: hidden;
    position: relative;
    height: 220px;
}

.section.head img {
    width: 100%;
    position: absolute;
    filter: grayscale(1) blur(2px);
}

/* end bootstrap custom style */

/* custom card for About Us */
.ficard-container {
    width: 420px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    animation: float 3s ease infinite;
}

.ficard-container .ficard-header {
    width: 100%;
    height: 180px;
    overflow: hidden;
    position: relative;
}

.ficard-header .carousel-inner {
    width: 100%;
    height: 100%;
}

.ficard-body {
    position: relative;
    padding: 1rem;
}

.ficard-body .bodycaption {
    margin-top: 68px;
}

.ficard-body .profile-photo {
    width: 120px;
    height: 120px;
    left: calc(50% - 60px);
    transform: rotate(45deg);
    justify-self: center;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    top: -60px;
}

.profile-photo img {
    width: 150%;
    transform: rotate(-45deg) translate(20px, -50px);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.ficard-footer {
    padding: 4px 1rem 4px;
}

.ficard-attr {
    display: flex;
    flex-direction: row;
    padding: .25rem .5rem .5rem;
    width: fit-content;
    gap: 1rem;
    border-bottom-left-radius: 5px;
    background: #21352f;
    position: absolute;
    right: 0;
    top: 0px;
    z-index: 100;
}

@keyframes float {

    0%,
    100% {
        transform: translate();
    }

    50% {
        transform: translate(10px, 10px);
    }
}

/* end custom card */

/* custom card for todos apps */
.todo-container {
    position: relative;
    padding-top: 1.5rem;
}

.todo-group {
    display: flex;
    justify-content: space-between;
}

.todo-desc {
    height: 0;
    overflow: auto;
    transition: all .5s ease-in;
    font-size: 10px;
}

.todo-container:hover>.todo-desc {
    height: 3rem;
}

.todo-datetime {
    width: auto;
}

.todo-stats {
    position: absolute;
    background-color: #888;
    border-bottom-left-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    text-align: end;
    padding: 0 1rem .25rem;
    top: 0;
    right: 0;
}

/* end custom card */
.apps {
    transition: all .5s ease-in-out;
}

.apps:hover {
    transform: translate(10px, -5px) scale(1.05);
}

/* untuk gallery container & item */

.gallery-container {
    overflow: hidden;
    padding: 0;
    border-radius: 1rem;
}

.gallery-item {
    overflow: hidden;
}


.gallery-item img {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
}

/* untuk socmed item */

.socmed-item {
    color: white;
}

.keypoint {
    margin-top: -5rem;
}

.fikipedia-logo {
    height: 40px;
}

.bg-nextdev {
    background-image: url(/assets/logo-digitalent.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position-x: calc(100% - 1rem);
}

.content {
    height: 9.5rem;
    overflow: auto;
    transition: all 1s ease;
}

.content::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.content::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.form-container {
    padding: 1rem;
}

.form-container .form-label {
    display: inline-block;
    width: 150px;
    font-weight: bolder;
}

.image-group-1 {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-group-1 .illustrator {
    width: 100%;
    /* overflow: hidden; */
}